:root {
    --btn-color: hsl(25, 97%, 53%);
    --text-color: hsl(217, 12%, 63%);
    --numbers-color: hsl(216, 12%, 54%);
    --bg-numbers-color: hsl(213, 19%, 18%);
    --bg-color: hsl(216, 12%, 8%);
}